bin/Debug/net6.0/Lab03 - Search.deps.json
bin/Debug/net6.0/Lab03 - Search.dll
bin/Debug/net6.0/Lab03 - Search.exe
bin/Debug/net6.0/Lab03 - Search.pdb
bin/Debug/net6.0/Lab03 - Search.runtimeconfig.json
obj/Lab03 - Search.csproj.nuget.dgspec.json
obj/Lab03 - Search.csproj.nuget.g.props
obj/Lab03 - Search.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Lab03 - Search.AssemblyInfo.cs
obj/Debug/net6.0/Lab03 - Search.AssemblyInfoInputs.cache
obj/Debug/net6.0/Lab03 - Search.assets.cache
obj/Debug/net6.0/Lab03 - Search.csproj.AssemblyReference.cache
obj/Debug/net6.0/Lab03 - Search.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Lab03 - Search.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Lab03 - Search.dll
obj/Debug/net6.0/Lab03 - Search.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Lab03 - Search.genruntimeconfig.cache
obj/Debug/net6.0/Lab03 - Search.GlobalUsings.g.cs
obj/Debug/net6.0/Lab03 - Search.pdb
obj/Debug/net6.0/ref/Lab03 - Search.dll
obj/Debug/net6.0/refint/Lab03 - Search.dll
.config/dotnet-tools.json
